.li {
  display: inline-block;
  font-size: 16px;
}

.icon {
  width: 30px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}

@media all and (max-width: 800px) {
  .li {
    font-size: 14px;
  }
  
  .icon {
    width: 20px;
  }
}
