.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.447);
  margin: 0;
}

.btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: white;
  color: #66a403;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 8px 20px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 5%;
}
