.header {
  font-family: "Lato", sans-serif;
  font-size: 120px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.447);
  margin: 0;
}

.finder {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: white;
  margin: 0;
  margin-top: -60px;
  margin-right: 170px;
}

@media all and (max-width: 800px) {
  .header {
    font-size: 90px;
  }

  .finder {
    font-size: 40px;
    margin-top: -40px;
    margin-right: 170px;
  }
}

@media all and (max-width: 500px) {
  .header {
    font-size: 75px;
  }

  .finder {
    font-size: 40px;
    margin-top: -40px;
    margin-right: 170px;
  }
}

@media all and (max-width: 300px) {
  .header {
    font-size: 65px;
  }

  .finder {
    font-size: 35px;
  }
}
